<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">NoveltyMart</a>
    <div class="search-input">
      <div class="d-flex">
        <div class="md-form">
          <div class="input-group input-group-lg mb-3 mt-3  ">
            <span class="input-group-text" id="basic-addon3">
              <i class="fas fa-search"></i>
            </span>
            <input
              type="text"
              placeholder="search"
              class="form-control position-relative pe-4"
              autocomplete="off"
              name="search"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="avatar d-flex text-center p-0 m-0">
      <div class="user-profile">
        <div class="d-flex">
          <div class="profile-icon">
            <i class="fas fa-user-alt"></i>
          </div>
          <p>Sign Up/Sign in</p>
        </div>
      </div>
      <p class="mx-3">|</p>
      <div class="cart d-flex">
        <div class="cart-icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <p>Cart</p>
      </div>
    </div>
  </div>
</nav>
