


<div class="row  align-items-center justify-content-center d-flex pt-5">
    <div class="col-5">
        <div class="card">
            <div class="card-body ">
              <h5 class="card-title d-flex align-items-center justify-content-center fw-bold">New Customer Registration</h5>
                <div class="social-account mt-4 d-flex justify-content-center">
                    <span class="d-flex ">
                        <p>Signup with google</p>
                    </span>
                </div>
                <div class="border-line mt-3 d-flex align-items-center">
                    <div class="line"></div>
                    <p class="mx-3">or signup with email</p>
                    <div class="line"></div>
                </div>
                <div class="form-body">
                    <form>
                        <div class="">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
          </div>
    </div>
</div>