
.social-login{
    i{
        font-size: 24px;
        margin-right: 16px;
    }
}


.line{
    height: 1px;
    background-color: black;
    width: 190px
}

.border-line{

    p{
        font-weight: bold;
        font-size: 13px;
    }
}